.Items .type-details {
  font-size: 13px;
  font-weight: 800;
  opacity: 0.8;
  text-transform: uppercase;
}
.Items .item {
  width: 40px;
  margin: auto;
}
.Items .details {
  opacity: 0.6;
  font-weight: 400;
  font-size: 12px;
  padding-top: 5px;
}
.Items .card {
  border: none;
  box-shadow: var(--box-shadow);
  padding: 10px;
}
.Items .card.berry {
  text-align: center;
}
.Items .card.berry-dets {
  text-align: start;
  padding: 10px 20px;
  margin-bottom: 15px;
  font-size: 13px;
}

.Items .item-title {
  text-transform: uppercase;
  opacity: 0.7;
  font-size: 12px;
}
.Items p {
  font-size: 14px;
  padding: 5px;
}
.Items .item-description {
  font-size: 12px;
}
.Items {
  max-height: 190px;
  scroll-behavior: smooth;
  overflow-y: scroll;
}
