.Moves .card {
  font-size: 14px;
  padding: 5px;
  margin: 5px;
  width: 230px;
  font-weight: 300;
  border-radius: 10px;
  color: white;
  box-shadow: var(--box-shadow);
  border: none;
}
.Moves .move-name {
  font-weight: 900;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-size: 20px;
}
.Moves .move-detail-title {
  font-size: 11px;
}
.Moves .move-details {
  font-size: 11px;
}
.Moves .move-effect {
  font-size: 12px;
}
.Moves li {
  padding-bottom: 1px;
}
.Moves .break {
  padding-bottom: 10px;
}
.Moves {
  max-height: 250px;
  scroll-behavior: smooth;
  overflow-y: scroll;
}
.Moves .move-effect {
  max-height: 70px;
  scroll-behavior: smooth;
  overflow-y: scroll;
}
