.NavHeading ul.nav-list {
  text-decoration: none;
  padding-left: 0;
  display: inline-flex;
}
.NavHeading il.stat-heading {
  justify-content: space-evenly;
  padding: 5px 20px;
}
.NavHeading .active {
  text-decoration: underline;
}
.NavHeading .inactive {
  opacity: 0.3;
}
.NavHeading button {
  border: none;
  padding: 10px 20px;
  background-color: var(--light-grey);
}
