.NavHeading ul.nav-list {
  text-decoration: none;
  padding-left: 0;
  display: inline-flex;
}
.NavHeading .stat-heading {
  justify-content: space-evenly;
  padding: 10px 20px;
  color: var(--text-colour);
}

.NavHeading .inactive {
  opacity: 0.5;
}
.NavHeading button {
  border: none;
  padding: 10px 20px;
  background-color: var(--light-grey);
}
