.NavHeading ul.nav-list {
  text-decoration: none;
  padding-left: 0;
  display: inline-flex;
  height: 15px;
}
.NavHeading .stat-heading {
  padding: 10px;
  color: var(--text-colour);
}

.NavHeading .inactive {
  opacity: 0.5;
}
.NavHeading button {
  border: none;
  padding: 10px 20px;
  background-color: var(--light-grey);
}
.NavHeading hr {
  margin-bottom: 20px;
}
@media (max-width: 415px) {
  .NavHeading .stat-heading {
    font-size: 15px;
  }
}
