.Profile {
  box-shadow: var(--box-shadow);
  border-radius: 6px;
  color: var(--light-grey);
}
.Profile section.intro-banner {
  padding: 20px;
}
.Profile section .type-summary {
  height: 33vh;
}
.Profile a.home-link {
  color: var(--light-grey);
  z-index: 5;
  position: relative;
}
.Profile .subheading {
  padding: 30px 10px;
  text-transform: capitalize;
}
.Profile ul {
  list-style: none;
  padding: 0;
}
.Profile .listed-ability {
  background: rgba(255, 255, 255, 0.2);
  padding: 7px 20px;
  text-align: center;
  font-size: 1rem;
  border-radius: 30px;
  margin-right: 5px;
  font-weight: 300;
}
.Profile img.pokeball {
  opacity: 0.1;
  position: absolute;
  top: 20px;
  right: 25rem;
  width: 280px;
}
.Profile img.pokemon {
  position: relative;
  z-index: 1;
  height: 200px;
  left: 20px;
}
.Profile section.poke-stats {
  background: var(--light-grey);
  color: var(--text-colour);
  padding: 10px;
  border-radius: 30px 30px 6px 6px;
  position: relative;
  z-index: 2;
}
@media (min-width: 1300px) {
  .Profile img.pokeball {
    top: 20px;
    right: 37rem;
  }
}
@media (max-width: 415px) {
  .Profile img.pokeball {
    top: 30px;
    right: -20vw;
    width: 300px;
  }
  .Profile img.pokemon {
    height: 280px;
  }
  .Profile .subheading {
    font-size: 10vw;
  }
  .Profile .listed-ability {
    padding: 15px 30px;
    font-size: 6vw;
  }
}
