.ProgressBar .bar-background {
  height: 10px;
  width: 150px;
  background-color: #e2e2e2;
  border-radius: 6px;
  margin-top: 18px;
  padding: 0;
}
.ProgressBar .bar {
  height: 100%;
  border-radius: inherit;
  background-color: var(--poke-blue);
  text-align: right;
  margin-right: 5;
}
