.StatSections .stat-heading {
  font-size: 15px;
  padding: 0;
  font-weight: 900;
  text-transform: uppercase;
  opacity: 0.9;
}

.StatSections .btn {
  padding: 0;
}
@media (max-width: 415px) {
  .StatSections .stat-heading {
    font-size: 18px;
  }
}
