.About .stat-title {
  font-size: 12px;
  padding: 3px;
}
.About .stat-value {
  font-size: 12px;
  padding: 3px;
}
.About .item-details {
  font-size: 10px;
}
.About .col-5 {
  padding-left: 0;
}

.About .loading {
  font-size: 10px;
}
.About {
  padding: 5px 40px;
  height: 220px;
  scroll-behavior: smooth;
  overflow-y: scroll;
}
.basic-details {
  box-shadow: var(--box-shadow);
  padding: 15px;
  border-radius: 6px;
  margin-bottom: 15px;
}
@media (max-width: 415px) {
  .About {
    height: 450px;
  }
  .About .stat-title {
    font-size: 14px;
    padding: 3px;
  }
  .About .stat-value {
    font-size: 14px;
    padding: 3px;
  }
  .About .item-details {
    font-size: 14px;
  }
}
