.About .stat-title {
  font-size: 12px;
  padding: 3px;
}
.About .stat-value {
  font-size: 12px;
  padding: 3px;
}
.About .item-details {
  font-size: 10px;
}
.About .col-5 {
  padding-left: 0;
}
.About .col-7 {
  padding-left: 15px;
}
.About .loading {
  font-size: 10px;
}
.About {
  padding: 5px 20px;
}
