.EvolvesFrom img.pokemon {
  width: 100px;
  padding-right: 10px;
  max-height: 120px;
  margin-top: 10px;
}

.EvolvesFrom .details {
  font-size: 12px;
}
.EvolvesFrom .col-6.detail-col {
  padding-right: 0;
}
.EvolvesFrom .col-6.poke-col {
  padding-left: 0;
}

.EvolvesFrom .details-type,
.EvolvesFrom .details {
  font-size: 12px;
}
.EvolvesFrom .details-type {
  padding: 5px 10px;
  color: white;
  border-radius: 30px;
  margin: 5px 0 5px 2px;
}
.EvolvesFrom {
  height: 200px;
  scroll-behavior: smooth;
  overflow-y: scroll;
}
.EvolvesFrom .card {
  margin: 12px 5px;
}
.EvolvesFrom .btn {
  font-size: 13px;
  border-bottom: var(--text-colour) solid 1px;
  border-radius: 0;
  margin: 7px 0 10px;
  color: var(--text-colour);
  padding-bottom: 2px;
}
@media (max-width: 415px) {
  .EvolvesFrom {
    height: 450px;
  }
}
