.EvolvesTo .col-6 {
  padding: 0;
  height: 115px;
}
.EvolvesTo .pokemon {
  padding-right: 10px;
  width: 100px;
  max-height: 120px;
  margin-top: 10px;
}
.EvolvesTo .details-type,
.EvolvesTo .details {
  font-size: 12px;
}
.EvolvesTo .details-type {
  padding: 5px 10px;
  color: white;
  border-radius: 30px;
  margin: 5px 0 5px 2px;
}
.EvolvesTo {
  height: 200px;
  scroll-behavior: smooth;
  overflow-y: scroll;
}
.EvolvesTo .card {
  margin: 5px 12px 10px 4px;
}
.EvolvesTo .btn {
  font-size: 13px;
  border-bottom: var(--text-colour) solid 1px;
  border-radius: 0;
  margin: 7px 0 10px;
  color: var(--text-colour);
  padding-bottom: 2px;
}
@media (max-width: 415px) {
  .EvolvesTo {
    height: 450px;
  }
}
