.EvolvesFrom img.pokemon {
  max-height: 100px;
}
.EvolvesFrom .card {
  padding: 15px;
  width: 240px;
  border-radius: 10px;
  border: none;
  box-shadow: var(--box-shadow);
}
.EvolvesFrom .details {
  font-size: 12px;
}
.EvolvesFrom .col-6 {
  padding-right: 0;
  width: 60px;
}
