.Evolution .card {
  padding: 15px 20px;
  width: 215px;
  border-radius: 10px;
  border: none;
  box-shadow: var(--box-shadow);
  height: 200px;
}
.Evolution .EvolvesFrom .card {
  height: 150px;
}
.Evolution .card.no-evolve {
  font-size: 13px;
  height: 90px;
}
.Evolution .stat-heading {
  width: 200px;
}
.Evolution .hide {
  display: none;
}
.Evolution .NavHeading ul.nav-list {
  text-decoration: none;
  padding-left: 0;
  display: inline-flex;
  height: 1px;
}
.Evolution .NavHeading .stat-heading {
  padding: 15px 0 0;
  color: var(--text-colour);
  width: 55px;
  font-size: 12px;
  text-transform: lowercase;
  background-color: white;
}
.Evolution .NavHeading nav {
  width: 120px;
}
.Evolution .NavHeading hr {
  margin: 5px;
  margin-left: 0;
}
.Evolution .PokeDetails,
.Evolution .Triggers {
  padding: 0;
}
.Evolution .PokeDetails .key,
.Evolution .Triggers .key {
  width: 70px;
  padding: 0;
}
.Evolution button.view {
  position: absolute;
  right: 10px;
  top: 0;
}
