.Evolution .card {
  padding: 15px 20px;
  width: 215px;
  border-radius: 10px;
  border: none;
  box-shadow: var(--box-shadow);
  height: 180px;
}
.Evolution .card.no-evolve {
  font-size: 13px;
  height: 70px;
}
.Evolution .stat-heading {
  width: 200px;
}
.Evolution .hide {
  display: none;
}
