.Types .type-results,
.Types .type-title {
  padding: 5px;
  font-size: 13px;
}
.Types .type-title {
  text-align: right;
  opacity: 0.7;
}
.Types .title-section {
  padding-top: 35px;
}
.Types .results {
  width: 150px;
}
.Types .titles {
  width: 200px;
}
