.Items .basic-details {
  font-size: 12px;
  font-weight: 800;
  opacity: 0.7;
}
.Items .details {
  opacity: 0.5;
  font-weight: 400;
  font-size: 11px;
  padding-top: 5px;
}
.Items p {
  font-size: 14px;
  padding: 5px;
}
.Items li {
  padding-bottom: 2px;
}
.Items li strong {
  padding-right: 10px;
}
