.Items .basic-details {
  font-size: 13px;
  font-weight: 800;
  opacity: 0.8;
  text-transform: uppercase;
}
.Items .item {
  width: 40px;
}
.Items .details {
  opacity: 0.6;
  font-weight: 400;
  font-size: 12px;
  padding-top: 5px;
}
.Items p {
  font-size: 14px;
  padding: 5px;
}
.Items li {
  padding-bottom: 3px;
  font-size: 13px;
}
.Items .item-description {
  font-size: 12px;
}
.Items li strong {
  padding-right: 10px;
}
