.DefaultPokeDisplay img.poke-default {
  height: 50px;
}
.DefaultPokeDisplay .tab {
  padding: 15px;
  color: var(--light-grey);
  border-radius: 4px;
  margin: 25px 1px 0;
  transition: all 200ms ease-in-out;
}
.DefaultPokeDisplay .tab:hover {
  box-shadow: var(--box-shadow);
  cursor: pointer;
}
.DefaultPokeDisplay ul {
  list-style: none;
}
.DefaultPokeDisplay li {
  font-size: 0.8rem;
}

.DefaultPokeDisplay .pokeball {
  height: 4rem;
  position: relative;
  opacity: 0.3;
}
.DefaultPokeDisplay .poke-default {
  height: 3rem;
  position: relative;
  left: 50px;
  z-index: 3;
}
.DefaultPokeDisplay .subheading {
  font-size: 1rem;
  text-transform: capitalize;
  color: var(--light-grey);
}
