.DefaultPokeDisplay img.poke-default {
  height: 50px;
}
.DefaultPokeDisplay .tab {
  /* box-shadow: var(--box-shadow); */
  padding: 10px;
  color: var(--light-grey);
  border-radius: 4px;
  margin: 25px 1px 0;
  transition: all 200ms ease-in-out;
}
.DefaultPokeDisplay .tab:hover {
  box-shadow: var(--box-shadow);
  cursor: pointer;
}
.DefaultPokeDisplay ul {
  list-style: none;
}
.DefaultPokeDisplay li {
  font-size: 1.2vw;
}

.DefaultPokeDisplay .pokeball {
  height: 4vw;
  position: relative;
  opacity: 0.3;
}
.DefaultPokeDisplay .poke-default {
  height: 4vw;
  position: relative;
  left: 50px;
  z-index: 3;
}
