.PokemonFindings {
  box-shadow: var(--box-shadow);
  padding: 20px;
  margin-top: 40px;
  border-radius: 6px;
  position: relative;
  z-index: -2;
  height: 300px;
}
.PokemonFindings .pokeball {
  position: relative;
  left: 4.5vw;
  bottom: 1vw;
  z-index: -1;
  width: 140px;
  opacity: 0.2;
}
.PokemonFindings .subheading {
  font-size: 3vw;
  text-transform: capitalize;
  color: var(--light-grey);
}
.PokemonFindings .poke-details {
  justify-content: space-evenly;
  position: relative;
  bottom: 20vh;
}
.PokemonFindings .poke-type {
  border-radius: 4px;
  border: 1px solid var(--light-grey);
  margin: 20px;
  padding: 5px 15px;
  color: white;
}
.StatSummary,
.AbilitiesSummary {
  color: white;
  opacity: 0.9;
  padding-top: 3vh;
}
.PokemonFindings .small-subheading {
  font-size: 1.5vw;
}
.PokemonFindings ul {
  list-style: none;
  font-size: 1.2vw;
  font-weight: 300;
  padding-left: 0px;
}
