.PokemonFindings {
  box-shadow: var(--box-shadow);
  padding: 20px;
  margin-top: 40px;
  border-radius: 6px;
  position: relative;
  z-index: 1;
  height: 330px;
}
.PokemonFindings .pokeball {
  position: relative;
  left: 4.5vw;
  bottom: 1vw;
  z-index: -1;
  width: 140px;
  opacity: 0.2;
}

.PokemonFindings .subheading {
  font-size: 3vw;
  text-transform: capitalize;
  color: var(--light-grey);
}
.PokemonFindings .poke-details {
  justify-content: space-evenly;
  position: relative;
  bottom: 15vh;
}
.PokemonFindings .poke-type {
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin: 20px;
  padding: 8px 20px;
  font-weight: 300;
  font-size: 1.3vw;
  color: white;
}

.StatSummary,
.AbilitiesSummary {
  color: white;
  opacity: 0.9;
  padding-top: 3vh;
}
.PokemonFindings .small-subheading {
  font-size: 1.5vw;
}
.PokemonFindings ul {
  list-style: none;
  font-size: 1.2vw;
  font-weight: 300;
  padding-left: 0px;
}
.PokemonFindings button.btn {
  border-bottom: var(--light-grey) 1px solid;
  border-radius: 0;
  padding: 5px 0;
  color: white;
  font-size: 1vw;
  font-weight: 700;
  width: 85px;
  text-transform: uppercase;
}
