.Search .pokeball-icon {
  width: 15vw;
  opacity: 0.1;
  position: absolute;
  z-index: -1;
  left: 660px;
}
.Search form {
  height: 8.5vh;
  margin: 2vh 0;
  width: 440px;
  position: relative;
  z-index: 5;
}
.Search .search-input {
  padding: 2vh;
  margin-right: 5px;
  width: 100%;
  text-align: center;
}
.Search input.btn {
  border: solid 1px rgba(125, 125, 125, 0.4);
  padding: 2vh 2vw;
  background-color: var(--poke-blue);
  color: white;
}
.Search .input-icons i {
  position: absolute;
}
.Search .fas {
  font-size: 2vw;
  padding-top: 2.5vh;
  padding-left: 20px;
  color: var(--primary-grey);
}
