.Search .pokeball-icon {
  width: 20vw;
  opacity: 0.2;
  position: absolute;
  z-index: 2;
  left: 49vw;
  top: 15px;
}
.Search .searched .pokeball-icon {
  width: 14vw;
  left: 55vw;
}
.Search .searched .heading {
  font-size: 1.5vw;
  margin: 10px;
}
.Search .hide {
  display: none;
}
.Search .fa-home {
  opacity: 0.5;
  font-size: 1.5vw;
}
.Search button {
  border: none;
  background: none;
}
.Search form {
  height: 8.5vh;
  margin: 2vh 0;
  width: 440px;
  position: relative;
  z-index: 5;
}
.Search .search-input {
  padding: 2vh;
  margin-right: 5px;
  width: 100%;
  text-align: center;
}
.Search input.btn {
  border: solid 1px rgba(125, 125, 125, 0.4);
  padding: 2vh 2vw;
  background-color: var(--poke-blue);
  color: white;
}
.Search .input-icons i {
  position: absolute;
}
.Search .fa-search {
  font-size: 2vw;
  padding-top: 2.5vh;
  padding-left: 20px;
  color: var(--primary-grey);
}
