.Search .pokeball-icon {
  width: 16rem;
  opacity: 0.2;
  position: absolute;
  z-index: 2;
  left: 38rem;
  top: 15px;
}
.Search .searched .pokeball-icon {
  width: 12rem;
  left: 42rem;
}
.Search .searched .heading {
  font-size: 1.2rem;
  margin: 10px;
}
.Search .hide {
  display: none;
}
.Search button {
  border: none;
  background: none;
}
.Search form {
  height: 3rem;
  margin: 2rem 0;
  width: 440px;
  position: relative;
  z-index: 5;
}
.Search .search-input {
  padding: 1.3rem;
  margin-right: 5px;
  width: 100%;
  text-align: center;
}
.Search input.btn {
  border: solid 1px rgba(125, 125, 125, 0.4);
  padding: 2vh 2vw;
  background-color: var(--poke-blue);
  color: white;
}
.Search .input-icons i {
  position: absolute;
}
.Search .fa-search {
  font-size: 2rem;
  padding-top: 1.8rem;
  padding-left: 20px;
  color: var(--primary-grey);
}
@media (min-width: 1300px) {
  .Search .pokeball-icon {
    left: 51rem;
  }
  .Search .fa-search {
    padding-top: 1.5rem;
  }
}
