.StatSummary li.unit {
  border-radius: 30px 0 0 30px;
}
.StatSummary li.value {
  border-radius: 0 30px 30px 0;
}
.StatSummary li {
  background: rgba(255, 255, 255, 0.2);
  padding: 5px 10px;
  text-align: center;
  margin-bottom: 8px;
  font-size: 1vw;
}
.StatSummary .col-6 {
  padding: 0;
}
