.StatSummary .unit {
  border-radius: 30px 0 0 30px;
}
.StatSummary .value {
  border-radius: 0 30px 30px 0;
}
.StatSummary .stats {
  padding: 8px 10px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.2);
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 14px;
}
.StatSummary .col-6 {
  padding: 0;
}
