.PokemonFindings {
  box-shadow: var(--box-shadow);
  padding: 20px;
  margin-top: 40px;
  border-radius: 6px;
  position: relative;
  z-index: -2;
}
.PokemonFindings .pokeball {
  position: relative;
  left: 9.5vw;
  bottom: 1vw;
  z-index: -1;
  width: 140px;
  opacity: 0.2;
}
.PokemonFindings .subheading {
  font-size: 3vw;
  text-transform: capitalize;
  opacity: 0.7;
}
.PokemonFindings .poke-details {
  justify-content: space-evenly;
}
.PokemonFindings .poke-type {
  border-radius: 4px;
  border: 1px solid var(--light-grey);
  margin: 20px;
  padding: 10px 30px;
  color: white;
}
