.App {
  width: 500px;
  border-radius: 6px;
  padding: 20px;
  margin: 2vh auto;
  box-shadow: 0 0 8px rgba(125, 125, 125, 0.5);
}
.App .title {
  font-family: pokemonSolid;
  color: var(--poke-yellow);
  -webkit-text-stroke-width: 5px;
  letter-spacing: 1px;
  -webkit-text-stroke-color: var(--poke-blue);
  padding: 1vw;
  font-size: 6vw;
}
.App .heading {
  padding: 50px 5px 30px;
  font-size: 2.5vw;
}
