.App {
  width: 500px;
  border-radius: 6px;
  margin: 2vh auto;
  box-shadow: var(--box-shadow);
  color: var(--text-colour);
}
.App .title {
  padding: 1vw;
  padding-bottom: 0;
  font-size: 5rem;
  text-align: center;
  position: relative;
  z-index: 3;
  left: 40px;
  font-weight: 400;
}

.App .heading {
  z-index: 3;
  position: relative;
  font-family: pokemonDigital;
  line-height: 1.5;
  letter-spacing: 0.5;
  padding: 5px 5px 15px;
  font-size: 1rem;
  margin: 0 20px;
}
@media (prefers-reduced-motion: no-preference) {
  .rotate {
    animation: 8s infinite spin;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#grass {
  background-color: var(--primary-green);
}
#fire {
  background-color: var(--primary-red);
}
#water {
  background-color: var(--primary-blue);
}
#flying {
  background-color: var(--flying);
}
#electric {
  background-color: var(--electric);
}
#poison {
  background-color: var(--poison);
}
#normal {
  background-color: var(--normal);
}
#ice {
  background-color: var(--ice);
}
#fighting {
  background-color: var(--fighting);
}
#ground {
  background-color: var(--ground);
}
#psychic {
  background-color: var(--psychic);
}
#bug {
  background-color: var(--bug);
}
#rock {
  background-color: var(--rock);
}
#ghost {
  background-color: var(--ghost);
}
#dragon {
  background-color: var(--dragon);
}
#dark {
  background-color: var(--dark);
}
#steel {
  background-color: var(--steel);
}
#fairy {
  background-color: var(--fairy);
}
