.App {
  width: 500px;
  border-radius: 6px;
  padding: 20px;
  margin: 2vh auto;
  box-shadow: var(--box-shadow);
}
.App .title {
  font-family: pokemonSolid;
  color: var(--poke-yellow);
  -webkit-text-stroke-width: 5px;
  letter-spacing: 1px;
  -webkit-text-stroke-color: var(--poke-blue);
  padding: 1vw;
  font-size: 6vw;
}
.App .heading {
  padding: 30px 5px;
  font-size: 2.2vw;
}
#grass {
  background-color: var(--primary-green);
}
#fire {
  background-color: var(--primary-red);
}
#water {
  background-color: var(--primary-blue);
}
#air {
  background-color: var(--primary-blue);
}
#electric {
  background-color: var(--primary-yellow);
}
#poison {
  background-color: var(--primary-purple);
}
#normal {
  background-color: var(--primary-normal);
}
