:root {
  --primary-green: #48d0b0;
  --primary-red: #fc6c6d;
  --primary-yellow: #ffd86f;
  --primary-blue: #6fb6f7;
  --primary-purple: #aa66ca;
  --poke-yellow: #feca2d;
  --poke-blue: #435d85;
  --main-text: "Readex Pro", sans-serif;
  --light-grey: #f3f3f4;
  --primary-grey: #c7c7c7;
  --text-colour: #606470;
  --box-shadow: 0 0 8px rgba(125, 125, 125, 0.5);
  --normal: #a8a77a;
  --fire: #ee8130;
  --water: #6390f0;
  --electric: #f7d02c;
  --grass: #7ac74c;
  --ice: #96d9d6;
  --fighting: #c22e28;
  --poison: #a33ea1;
  --ground: #e2bf65;
  --flying: #a98ff3;
  --psychic: #f95587;
  --bug: #a6b91a;
  --rock: #b6a136;
  --ghost: #735797;
  --dragon: #6f35fc;
  --dark: #705746;
  --steel: #b7b7ce;
  --fairy: #d685ad;
}
@font-face {
  font-family: "pokemonDigital";
  src: url("/src/fonts/pokemon-font.woff") format("woff");
  font-style: normal;
  font-weight: 200px;
}
@font-face {
  font-family: "pokemonSolid";
  src: url("/src/fonts/Pokemon\ Solid.woff") format("woff");
  font-style: normal;
  font-weight: 200px;
}

body {
  font-family: var(--main-text);
  scroll-behavior: smooth;
}
